matplotlib==3.5.1
pandas==1.3.4
neo==0.8.0
h5py==2.10.0
Brian2==2.4
dill==0.3.3
ipfx
sbi==0.16.0
scipy==1.5.4
nevergrad==0.4.3
quantities==0.12.4
torch
elephant==0.7.0
joblib==1.0.1
scikit_optimize==0.8.0
numpy
